<mat-card>
  <mat-card-title>Développeuses et développeurs : à table!</mat-card-title>
  <mat-card-subtitle>qui mange bien code mieux</mat-card-subtitle>
  <img mat-card-image [src]="restaurant" alt="restaurant">
  <mat-card-content>
    Entre deux séances de dev : un bon plat et une bonne boisson s'impose.
    Qu'il s'agisse de manger sur le pouce ou de prendre le temps, la "Tablée du développeur " saura vous satisfaire.
  </mat-card-content>
</mat-card>
<mat-card>
  <img mat-card-image [src]="restaurant" alt="restaurant">
  <mat-card-content>
    Venez savourez autour d'un verre!
  </mat-card-content>
</mat-card>
<mat-card>
  <img mat-card-image [src]="barbecue" alt="barbecue">
  <mat-card-content>
    Hum! Miam miam
    Les bonnes grillades.
  </mat-card-content>
</mat-card>
